@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  color: #333;
}

body {
  color: #333;
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none;
  padding: none;
}

body {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard */
  background: #292b2d !important;
  color: #333;
}
